<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container text-center">
    <h1>PASSWORD</h1>
<form action="password">
   <select name="length">
       <option value="5">5</option>
       <option value="6">6</option>
       <option value="7">7</option>
       <option value="8" selected="selected">8</option>
   </select>Length<br>
    <input type="checkbox" name="uppercase">uppercase <br>
    <input type="checkbox" name="special">special <br>
    <input type="checkbox" name="lowercase">lowercase<br>
    <input type="checkbox" name="numbers">numbers<br>

    <input type="submit" value="generate password"  class="btn btn-primary">
</form>

<br>
<br>
<a href="{% url 'about'%}">ABOUT</a>
</div>